# Ignore Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore initialization files (optional)
__init__.py

# Ignore virtual environments
venv/
env/
logs/
temp/

*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp
*.heic
*.heif

marker_config.json
